@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common style start */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    width: 135px;
    padding: 13px 16px;
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    color: white;
    border-radius: 100px;
    border: none;
    display: flex;
    gap: 8px;
    cursor: pointer;
    animation: pulse 1.8s infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.section-heading{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
}
.hr{
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    margin: 80px 0;
}
.card-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.card-des{
    line-height: 24px;
}
/* common style end */

/* header style star */
header{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.hamburger{
    display: none;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 30px;
}
.menu-item{
    display: flex;
    gap: 32px;
}
.menu-item a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.menu-item li{
    list-style: none;
}
.head-section{
    min-height: 760PX;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    width: 100%;
}
.head-image{
    height: 450px;
}
.head-section .img-one{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.head-section .img-two{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-new{
    position: absolute;
    top: 24%;
    left: 57%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    animation: pulse 1.8s infinite;
}
.techwave{
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 3.75rem;
}
.section-des{
    text-align: center;
    color: white;
    margin-top: 8px;
    font-size: 1rem;
}
.head-button{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn-soptify{
    width: 201px;
}
.btn-subscribe{
    background-color: #1A0B2E;
    width: 147px;
    padding: 13px 16px;
    font-weight: 600;
    color: #00FF88;
    border-radius: 100px;
    border: 1px solid #00FF88;
    display: flex;
    gap: 8px;
    cursor: pointer;
}
/* header style end */

/* About-area style start */
.about-section{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 0 120px;
    text-align: center;
}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
}
.section-one-des{
    color: white;
    padding: 0 230px;
    line-height: 20px;
    margin-top: 16px;
}
.about-review{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    
}.review-content h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.review-content p{
    color: white;
}
/* About-area style end */

/* Choose-area style start */
.choose-section{
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 0;
}
.choose-content{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.choose-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.first-card{
    grid-row: span 2;
    padding: 107px 40px;
}
.second-card{
    grid-column: span 2;
    padding: 40px;
}
.third-card{
    grid-column: span 2;
    padding: 40px;
}
.fourth-card{
    grid-column: span 2;
    padding: 40px;
}
.fifth-card{
    padding: 40px;
}
/* Choose-area style end */

/* Feature-area style start */
.feature-section{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    color: white;
    overflow: hidden;
    padding: 120px 0;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    gap: 30px;
}
.feature-card{
    background-color: #250D44;
    border-radius: 20px;
    margin-top: 40px;
    width: 100%;
    
}
.feature-card h3{
    margin: 24px 24px 0;
}
.feature-card p{
    margin: 12px 24px;
}
iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.time-clock{
    display: flex;
    gap: 6px;
    padding-bottom: 24px;
    color: #00FF88;
}
/* Feature-area style end */

/* Meet-area style start */
.meet-section{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.meet-container{
    display: flex;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #250D44;
    padding: 48px 40px;
    margin-top: 40px;
    border-radius: 20px;
    color: white;  
}
.host-des{
    padding: 16px 0;
    line-height: 24px;
}
.social-link{
    display: flex;
    gap: 8px;
}
.link-image{
    border: 1px solid #533C72;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Meet-area style end */

/* footer area style start */
footer{
    background: url(../images/footer-bg.png) no-repeat center/ auto;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 0;
    height: 412px;
}
.footer-link-container{
    display: flex;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
}
.footer-link{
    display: flex;
    gap: 6px;
}
.footer-image{
    text-align: center;
    width: 410px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.footer-image img{
    width: 100%;
}
.footer-link a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copy-right{
    color: white;
    text-align: center;
    margin-top: 32px;
    line-height: 24px;
}
/* footer section end */

/* midia Quary start */

@media screen and (max-width:576px) {
    .menu, .btn-nav{
        display: none;
    }
    .hamburger{
        display: block;
        justify-content: end;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .section-one-des{
        padding: 0 20px;
    }
    .about-review{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .about-section{
        padding: 40px 0;
    }
    .choose-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .first-card{
        padding: 40px;
        grid-row: span 1;
    }
    .section-heading{
        font-size: 2rem;
    }
    .choose-section{
        padding: 40px 0;
    }
    .feature-content{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    .feature-section{
        padding: 40px 0;
    }
    .feature-card{
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .choose-card{
        margin: 0 20px;
    }
    .second-card{
        grid-column: span 1;
        padding: 40px;
    }
    .third-card{
        grid-column: span 1;
        padding: 40px;
    }
    .fourth-card{
        grid-column: span 1;
        padding: 40px;
    }
    .meet-section{
        padding: 40px 0;
    }
    .meet-container{
        flex-direction: column;
        text-align: center;
    }
    .social-link{
        justify-content: center;
    }
    .footer-link-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .btn-new{
        left: 63%;
        top: 23%;
    }
}

@media screen and (min-width:577px) and (max-width: 992px) {
    .btn-new{
        left: 60%;
        top: 25%;
    }
    nav{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 50px;
    }
    .btn{
        display: flex;
        justify-items: center;
    }
    .section-one-des{
        padding: 0 20px;
    }
    .about-review{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .about-section{
        padding: 40px 0;
    }
    .choose-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .first-card{
        padding: 40px;
        grid-row: span 1;
    }
    .second-card{
    grid-column: span 1;
    padding: 40px;
    }
    .third-card{
        grid-column: span 1;
        padding: 40px;
    }
    .fourth-card{
        grid-column: span 1;
        padding: 40px;
    }
    .second-card{
        grid-column: span 1;
        padding: 40px;
    }
    .third-card{
        grid-column: span 1;
        padding: 40px;
    }
    .fourth-card{
        grid-column: span 1;
        padding: 40px;
    }
    .choose-card{
        margin: 0 20px;
    }
    .feature-content{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        gap: 50px;
    }
    .feature-section{
        padding: 40px 0;
    }
    .feature-card{
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    .head-section .img-one{
        top: 45%;
    }
    .meet-container{
        margin: 0 20px;
    }
} 


